header {
  background-color: var(--header-bg-color);
  color: var(--text-color);
  padding: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

header button {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
}

header button:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
}

#settings-button {
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

#search-bar {
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  outline: none;
  width: 200px;
}
