header {
  background-color: #ffddcc;
  color: #333;
  padding: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
}

header button {
  background-color: #fff;
  color: #ff7f50;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
}

header button:hover {
  background-color: #ffe6e6;
}
