.timeline-item {
  padding: 20px 30px;
  position: relative;
  background-color: inherit;
  width: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.timeline-item:hover {
  transform: scale(1.05);
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: #ff7f50;
  border: 4px solid #FFF;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.timeline-item:hover::after {
  background-color: #ff6347;
}

/* Styles for linked projects */
.timeline-item.linked-start,
.timeline-item.linked-end {
  border: 2px solid #000; /* Outline to indicate linkage */
}

.timeline-item:nth-child(odd) {
  left: 0;
}

.timeline-item:nth-child(even) {
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content {
  left: 0;
}

.timeline-content {
  padding: 20px;
  background-color: #fef8e6;
  position: relative;
  border-radius: 8px;
}

.timeline-content h2 {
  margin-top: 0;
}
